.navbar-mz2 {
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-logo-mz2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-mz2 img {
    position: relative;
    width: 25%;
}

.logo-mz2 {
    width: 36px;
    height: 40px;
}

.container-logo-mz2 h1 {
    font-size: 20px;
    color: #141c24;
}

.navbar-item-mz2 {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style-type: none;
}

.navbar-item-mz2 li a {
    text-decoration: none;
    font-weight: 400;
    z-index: 2;
    font-size: 16px;
    line-height: 24px;
    color: #344051;
}

.navbar-item-mz2 li a:hover {
    transition: 0.2s;
    cursor: pointer;
    color: rgb(141, 141, 141);
}

.navbar-item-mz2 li button {
    width: 120px;
    height: 40px;
    background: #1a75ff;
    border-radius: 8px;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.humberger-menu-mz2 {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: none;
}

.sidebare {
    display: none;
}

.btn-toggle, .btn-close {
    display: none;
}

@media only screen and (min-width: 300px) and (max-width: 750px) {
    .navbar-mz2 {
        padding: 8px 30px;
    }

    .btn-toggle {
        cursor: pointer;
        border: 1px solid rgb(110, 110, 110);
        padding: 4px;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: max-content;
        height: max-content;
    }

    .btn-toggle span {
        width: 32px;
        height: 5px;
        margin: 2px 0;
        display: block;
        background-color: rgb(85, 85, 85);
        border-radius: 4px;
    }

    .sidebare {
        display: inline;
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: -100%;
        overflow: hidden;
        z-index: 222;
        background-color: white;
        padding: 35px 30px;
        transition: 1s;
        top: 0;
        color: black;
    }
    
    .sidebarOpen {
        display: inline;
        width: 100vw;
        transition: 1s;
        overflow: hidden;
        height: 100vh;
        position: fixed;
        left: 0;
        z-index: 222;
        background-color: white;
        padding: 35px 30px;
        top: 0;
        color: black;
    }

    .btn-close {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        border-radius: 9999px;
        background-color: red;
        color: white;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
    }

    .btn-close:active {
        transform: scale(0.98);
        transition: 0.2s;
    }

    .btn-close:hover {
        transition: 0.2s;
        filter: brightness(90%);
    }

    .sidebarOpen ul {
        display: block;
    }

    .sidebarOpen ul li {
        list-style: none;
        margin-bottom: 30px;
        font-size: 16px;
    }

    .sidebare ul {
        display: block;
    }

    .sidebare ul li {
        list-style: none;
        margin-bottom: 30px;
        font-size: 16px;
    }

    .navbar-mz2 img {
        width: 40%;
    }

    .container-logo-mz2 h1 {
        display: block;
    }

    .navbar-item-mz2 {
        gap: 10px;
    }

    #list1 {
        display: none;
    }

    .humberger-menu-mz2 {
        display: block;
    }
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .container-logo-mz2 h1 {
        display: none;
    }

    .navbar-item-mz2 {
        gap: 10px;
    }

    #list1 {
        display: none;
    }

    .humberger-menu-mz2 {
        display: block;
    }
}
