.section-testimoni-mz1 {
    margin-top: 35px;
    padding: 44px 70px 66px 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.parag-testi-mz1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #a7abb6;
    text-align: center;
}

.title-testi-mz1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #202020;
    text-align: center;
}

.title-testi-dmf {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #202020;
    text-align: center;
}

.hr {
    margin-bottom: 70px;
}

.section-testimoni-mz1 img {
    margin-top: 20px;
}

.body-testti-mz1 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #202020;
}

.person-testi-mz1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #020b1f;
    text-align: center;
    margin-top: 30px;
}

.brand-testi-mz1 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #020b1f;
    text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .section-testimoni-mz1 {
        padding: 24px 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .body-testti-mz1 {
        font-size: 22px;
        width: 88vw;
        line-height: 1.7em;
        margin-top: -50px;
    }

    .parag-testi-mz1 {
        display: none;
    }

    .fw {
        display: none;
    }
}

.container-dmf {
    width: 90%;
    height: max-content;
    padding: 40px 0px;
    overflow: hidden;
    margin: 50px 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.child-dmf {
    border: 1px solid rgb(209, 209, 209);
    width: 49%;
    height: 320px;
    margin-bottom: 22px;
    border-radius: 12px;
    padding: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.child-dmf:hover {
    filter: brightness(90%);
    transition: 0.4s;
}

.child-dmf:active {
    transform: scale(0.97);
    transition: 0.4s;
}

.child-dmf-2 {
    background-color: #1f1f1f;
    color: white;
}

.child-dmf img {
    margin-bottom: 30px;
    width: 50px;
}

.vision-dmf {
    color: #ff5a05;
    font-size: 15px;
    margin-bottom: 42px;
}

.title-dmf {
    margin-bottom: 20px;
}

.text-dmf {
    width: 90%;
}

.text-child-dmf {
    line-height: 2.5em;
}

.title-child-dmf {
    width: max-content;
    color: black;
    padding: 4px 14px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 999px;
}

@media screen and (max-width: 750px) {
    .container-dmf {
        padding: 24px;
        box-sizing: border-box;
        width: 100vw;
        margin: 20px 0;
    }
    .child-dmf {
        width: 94vw;
        height: max-content;
        margin-bottom: 32px;
    }
}

.container-section6-section6mz4 {
    padding: 30px 70px;
    margin-top: 50px;
}

.section6-content-section6mz4 {
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px 30px 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.section6-title-section6mz4 {
    font-weight: 600;
    font-size: 72px;
    width: 80%;
    line-height: 116%;
    letter-spacing: -0.01em;
    color: #ffffff;
}

.section6-body-section6mz4 {
    font-weight: 400;
    font-size: 16px;
    width: 70%;
    margin: 20px 0;
    line-height: 180%;
    color: #ffffff;
}

.section6-download-section6mz4 {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.dwonload-section6mz4 {
    background-color: #ffffff;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.textDownloads {
    height: max-content;
}

.dwonload-section6mz4:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
}

.dwonload-section6mz4 p {
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 6px;
    color: #475467;
}

.dwonload-section6mz4 h5 {
    font-weight: 600;
    font-size: 18px;
    color: #0052ff;
}

.section6-sponsor-section6mz4 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    justify-content: space-between;
}

.section6-sponsor-section6mz4 img {
    transform: scale(0.9);
}

.image-phone-section6mz4 {
    width: 40%;
    border-radius: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .dwonload-section6mz4 {
        width: 90%;
    }

    .container-section6-section6mz4 {
        padding: 30px;
    }

    .section6-content-section6mz4 {
        flex-direction: column;
        padding: 24px;
    }

    .image-phone-section6mz4 {
        width: 70%;
    }

    .section6-title-section6mz4 {
        font-size: 24px;
        width: 100%;
        line-height: 1.7em;
        margin-bottom: 10px;
    }

    .section6-body-section6mz4 {
        width: 100%;
    }

    .image-phone-section6mz4 {
        display: none;
    }

    .section6-download-section6mz4 {
        flex-direction: column;
    }

    .section6-sponsor-section6mz4 {
        grid-template-columns: auto auto;
        gap: 20px;
        justify-content: center;
    }
}

.section5-mz1 {
    padding: 44px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container-card-mz1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.card-section5-left-mz1 {
    background-image: url("../images/firewall3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 46%;
    height: 529px;
}

.card-section5-left-mz1::before {
    position: absolute;
    content: "";
    border-radius: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(73, 73, 73, 0.329), #1f1f1f);
}

.card-body-mz1 {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 40px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.card-body-mz1 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #ffffff;
}

.card-body-mz1 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 90%;
    line-height: 28px;
    color: #ffffff;
    margin-top: 10px;
}

.card-body-mz1 button {
    width: 200px;
    height: 51px;
    border: 1px solid #ffffff;
    background: transparent;
    filter: drop-shadow(0px 25px 30px rgba(0, 65, 232, 0.1));
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.p-section5-body-mz1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #a7abb6;
    text-align: center;
}

.title-section5-mz1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #202020;
}

.card-section-right-mz1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card-sections2-mz1 {
    background-image: url("../images/firewall1.jpg");
    background-size: cover;
    width: 558px;
    overflow: hidden;
    position: relative;
    height: 252px;
}

.card-sections2-mz1::before {
    position: absolute;
    content: "";
    border-radius: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(73, 73, 73, 0.329), #1f1f1fcb);
}

.card-sections2-mz1 button {
    width: 200px;
    height: 51px;
    border: 1px solid #ffffff;
    background: transparent;
    filter: drop-shadow(0px 25px 30px rgba(0, 65, 232, 0.1));
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.card-body2-mz1 {
    position: relative;
}

.card-body2-mz1 div {
    position: absolute;
    top: 100px;
    left: 20px;
}

.card-body2-mz1 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-top: -60px;
    line-height: 43px;
    color: #ffffff;
}

.card-body2-mz1 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    margin-top: 10px;
}

.card-sections3-mz1 {
    background-image: url("../images/firewall2.webp");
    background-size: cover;
    width: 558px;
    position: relative;
    overflow: hidden;
    height: 252px;
}

.card-sections3-mz1::before {
    position: absolute;
    content: "";
    border-radius: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(73, 73, 73, 0.329), #1f1f1fcb);
}


.card-sections3-mz1 button {
    width: 200px;
    height: 51px;
    border: 1px solid #ffffff;
    margin-top: 20px;
    background: transparent;
    filter: drop-shadow(0px 25px 30px rgba(0, 65, 232, 0.1));
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.card-body3-mz1 {
    position: relative;
}

.card-body3-mz1 div {
    position: absolute;
    top: 100px;
    left: 20px;
}

.card-body3-mz1 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-top: -60px;
    line-height: 43px;
    color: #ffffff;
}

.card-body3-mz1 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #d1d4dc;
    margin-top: 10px;
}

.section5-mz1 .btn-viewwork-mz1 {
    width: 193px;
    height: 51px;
    background: #0041e8;
    box-shadow: 0px 25px 30px rgba(0, 65, 232, 0.1);
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    outline: none;
    border: none;
    margin-top: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .section5-mz1 {
        padding: 26px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .container-card-mz1 {
        flex-direction: column;
    }
    .card-body-mz1 h1 {
        width: 90%;
    }
    .card-body-mz1 p {
        display: none;
    }
    .card-sections2-mz1 p {
        display: none;
    }
    .card-body2-mz1 h1 {
        margin-top: -30px;
    }
    .card-body3-mz1 h1 {
        margin-top: 0px;
    }
    .card-sections3-mz1 p {
        display: none;
    }
    .card-section5-left-mz1 {
        width: 320px;
        height: 350px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .card-body-mz1 {
        left: 20px;
        bottom: 40px;
        flex-direction: column;
    }
    .card-sections2-mz1 {
        width: 320px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .card-body2-mz1 {
        width: 320px;
    }
    .card-body2-mz1 div {
        top: 80px;
        margin-right: 5px;
    }
    .card-sections3-mz1 {
        width: 320px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .card-body3-mz1 div {
        top: 80px;
        margin-right: 5px;
    }
    .section5-mz1 .btn-viewwork-mz1 {
        margin-top: 10px;
    }
    .card-section5-left-mz1 {
        width: 86vw;
    }
    .card-sections2-mz1 {
        width: 86vw;
    }
    .card-sections2-mz1 p {
        width: 86vw;
    }
    .card-sections3-mz1 {
        width: 86vw;
    }
}

.section4-mz2 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 150px;
}

.section4-mz2-title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #141c24;
    text-align: center;
}

.section4-mz2-paragh {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #344051;
    margin-top: 10px;
}

.accordion-mz2 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.accordion-mz2:first-of-type {
    margin-top: 50px;
}

.accordion-mz2 span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #141c24;
}

.active,
.accordion-mz2:hover {
    background-color: #ccc;
}

.panel-mz2 {
    padding: 20px 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.section4-bottom {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4-bottom h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #002966;
}

.section4-bottom p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #002966;
    margin-top: 10px;
}

.section4-bottom button img {
    margin-right: 12px;
}

.section4-bottom button {
    width: max-content;
    height: 40px;
    background: #1a75ff;
    border-radius: 8px;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 1007px) {
    .section4-mz2 {
        width: 92%;
    }

    .section4-bottom button {
        margin-top: 50px;
    }
    .section4-mz2-paragh {
        font-size: 14px;
        line-height: 2em;
    }
    .accordion-mz2 span {
        font-size: 15px;
    }
}

